/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body{
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif; 
    font-feature-settings: "liga", "kern" 
}

.box{
    background-color:  #9E0B0F;
    color: white;
}

.boxII{
    background-color: #790000;
    color: white;
}

.box:hover{
    color: lightcoral;
    text-decoration: underline;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #9E0B0F;
    line-height: 30px;
}

.container2{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #790000;
    line-height: 30px;
}

.box9{
    background-color: #BB131A;
    color: white;
    position: relative;
    display: flex;
}

.vorarlberg{
    margin-top: 35px;
    font-size: 30px;
    margin-left: 20px;
}
